.loc_con {
  margin-bottom: 1em;
  padding: 1.5em;
}
.loc_sort {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1em;
}
.loc_sort li {
  margin-bottom: 0.5em;
}
.place_margin {
  padding: 1em;
}
.loc {
  display: inline-flex;
  gap: 2em;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.3em 0.8em;
}
@media (min-width: 40rem) {
  .loc_con {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
  .loc_sort {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
    width: 80%;
  }
  .place_margin {
    padding: 3em;
  }
}

@media (min-width: 60rem) {
  .loc_sort {
    grid-template-columns: repeat(8, 1fr);
  }
  .loc_sort li {
    margin-bottom: 0em;
  }
}
