.loc_con {
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.loc_sort {
  display: none;
}
.show_loca {
  display: block;
  position: absolute;
  top: 3em;
  left: 0;
  background-color: hsl(300, 20%, 96%);
  padding: 1em 2em;
  border-radius: 10px;
}
.places {
  border: 0;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: #fff;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
}
.arrow_down {
  transform: rotate(90deg);
}
.arrow_up {
  transform: rotate(270deg);
}
.loc_sort li {
  margin-bottom: 0.5em;
}
.place_con {
  position: relative;
}
.place_margin {
  padding: 2em;
  margin-bottom: 2em;
}
.loc {
  display: flex;
  gap: 1em;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.3em 0.8em;
}
.loc_set {
  width: 15px;
}
@media (min-width: 40rem) {
  .place_margin {
    padding: 3em;
  }
}

@media (min-width: 60rem) {
  .places {
    display: none;
  }
  .loc_sort {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1em;
    position: relative;
    background-color: transparent;
    top: auto;
    padding: 0;
  }
  .loc_con {
    align-items: center;
    justify-content: space-between;
  }
  .loc_sort li {
    margin-bottom: 0em;
  }
  .place_margin {
    padding: 2em 4em;
  }
}
