header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  position: relative;
}
.logo {
  width: 150px;
}
.nav_content {
  display: none;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  color: #ffffff;
}
.nav_content a {
  color: #ffffff;
}
.visible {
  display: block;
  position: absolute;
  top: 3em;
  right: 2em;
  left: 2em;
  border-radius: 10px;
  padding: 1em;
}
.nav_list {
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
.nav_link {
  margin-bottom: 1em;
  color: #ffffff;
}
.connect {
  display: block;
  margin: 1em auto 0;
  padding: 0.7em 1em;
  border: 0;
  color: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  background-color: #ffffff;
}
@media (min-width: 40rem) {
  header {
    padding: 2em 3em;
  }
  .nav_content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    background: transparent;
    width: 70%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }
  .nav_list {
    display: flex;
    border-bottom: none;
    gap: 2em;
    justify-content: space-around;
  }
  .nav_link {
    margin-bottom: 0;
    color: #000;
  }
  .nav_link a {
    color: #000;
  }
  .mobile_navigation {
    display: none;
  }
  .connect {
    margin: 0;
    border: 0;
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    color: #ffffff;
  }
}
@media (min-width: 60rem) {
  .nav_list {
    width: 60%;
  }
  header{
    padding: 2em 9em;
  }
}
